container_commands:
  50_rename.config:
     command: "/usr/local/bin/settings.sh"
files:
  "/usr/local/bin/settings.sh":
    mode: "000755"
    content : |
        #!/bin/bash
        # Script to configure package.json file
        # Fill variables from environment and parameter store
        echo "Filling variables"
        environment=development
        if (/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir 2>1 ) ; then
          app_staging_dir=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
          app_deploy_dir=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
        else
          app_staging_dir=$(/opt/elasticbeanstalk/bin/get-config platformconfig -k AppStagingDir)
          app_deploy_dir=$(/opt/elasticbeanstalk/bin/get-config platformconfig -k AppDeployDir)
        fi
        conffile="/package.json"
        echo "Filling $conffile with the correct values."
        sed -i 's/environment/'$environment'/' $app_staging_dir$conffile